.nav-bar {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  height: 3rem;
  background-color: white;
}

.left-nav {
  min-width: 5rem;
  width: 100%;
  display: flex;
  justify-content: left;
  column-gap: 1rem;
  margin-left: 1rem;
}

.middle-nav {
  min-width: 5rem;
  width: 100%;
  text-align: center;
}

.right-nav {
  min-width: 5rem;
  width: 100%;
  display: flex;
  justify-content: right;
  column-gap: 1rem;
  margin-right: 1rem;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-btn {
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-btn:hover {
  cursor: pointer;
}

.title:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
}
