@import "../styles.scss";
// #background {
//   background-color: $background-color;
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0;
//   height: 100%;
//   color: $primary-font-color;
//   overscroll-behavior: none;
// }

#body {
  color: $primary-font-color;
  background-color: var(--background-color);
}

.nav-bar {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  height: 3rem;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(6px);
  position: fixed;
  z-index: 1;
}

.left-nav {
  min-width: 5rem;
  width: 100%;
  display: flex;
  justify-content: left;
  margin-left: 1rem;
}

.middle-nav {
  min-width: 5rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.right-nav {
  min-width: 5rem;
  width: 100%;
  display: flex;
  justify-content: right;
  margin-right: 1rem;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-btn {
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: $primary-font-color;
}

.nav-btn:hover {
  cursor: pointer;
}

.title:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
}
