.main-banner {
  width: 100%;
  height: 15rem;
  background: linear-gradient(
    135deg,
    rgb(37 1 101) 0%,
    rgba(248, 248, 248, 1) 90%
  );
}

.purple {
  background: linear-gradient(
    135deg,
    rgb(37 1 101) 0%,
    rgba(248, 248, 248, 1) 90%
  );
}

.red {
  background: linear-gradient(
    135deg,
    rgb(101 1 37) 0%,
    rgba(248, 248, 248, 1) 90%
  );
}

.green {
  background: linear-gradient(
    135deg,
    rgb(49, 101, 1) 0%,
    rgba(248, 248, 248, 1) 90%
  );
}

.blue {
  background: linear-gradient(
    135deg,
    rgb(1, 66, 101) 0%,
    rgba(248, 248, 248, 1) 90%
  );
}

.orange {
  background: linear-gradient(
    135deg,
    rgb(101, 74, 1) 0%,
    rgba(248, 248, 248, 1) 90%
  );
}

.pink {
  background: linear-gradient(
    135deg,
    rgb(101, 1, 73) 0%,
    rgba(248, 248, 248, 1) 90%
  );
}

.banner-title {
  padding: 4rem 0rem 0rem 5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-decoration: underline;
  text-underline-offset: 8px;
}
