<app-banner title="Profile" backgroundColour="purple"></app-banner>
<div class="about-me-container">
  <div class="about-me-left-container">
    <img src="assets/profile/cartoon.jpg" class="about-me-image">
  </div>
  <div class="about-me-text">
    Hi, my name is Surya. I am a Computer Science undergraduate student from the
    University of Calgary. I have experience as a Full Stack Developer,
    and am passionate about creating elegant interfaces.
    <br />
    <br />
    Other than programming, I enjoy gaming, and sports such as bouldering,
    badminton, and tennis.
  </div>
</div>